<!-- <h1>Hi, Joko</h1>
<p>we're ready to activate your email, click activate button below.</p>
<form action="/api/v1/auth/email-activation?token=" method="post">
  <div>
    <input type="submit" value="Activate" />
  </div>
</form> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
        background-color: #f8f8f8;
      }

      h1 {
        color: #333;
        margin-bottom: 25px;
        font-size: 20px;
      }

      form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        font-size: 13px;
      }

      form:hover {
        transform: scale(1.02);
      }

      label {
        display: block;
        margin-bottom: 10px;
        color: #555;
        font-weight: bold;
        text-align: left;
      }

      input {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        transition: border-color 0.3s ease;
      }

      input:focus {
        border-color: #007bff;
      }

      input[type="submit"] {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        border: 2px solid #007bff;
        color: #007bff;
        text-decoration: none;
        border-radius: 5px;
        transition: color 0.3s ease, background-color 0.3s ease;
      }

      input[type="submit"]:hover {
        color: #ffff;
        background-color: #007bff;
      }
    </style>
  </head>

  <body>
    <section>
      <form action="/api/v1/auth/reset-password?token=<%=token%>" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="password_confirmation">Confirm Password:</label>
        <input
          type="password"
          id="password_confirmation"
          name="password_confirmation"
          required
        />
        <input type="submit" value="reset password" />
      </form>
    </section>
  </body>
</html>
