<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" description="width=device-width, initial-scale=1.0" />
    <title>Notification Page</title>

    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
      }

      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
      }

      nav {
        background-color: #444;
        padding: 10px;
        text-align: center;
      }

      main {
        margin: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      h2 {
        color: #007bff;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: box-shadow 0.3s;
      }

      li:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      b {
        color: #333;
      }

      p {
        color: #555;
        margin-top: 5px;
      }

      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Notifications</h1>
    </header>

    <nav>
      <!-- You can add a navigation menu here if needed -->
    </nav>

    <main>
      <section>
        <h2>Notification List <span id="user_id"><%= user_id %></span></h2>
        <ul id="notification">
          <% user.notifications.map((item) => { %>
          <li>
            <p><%= item.title %></p>
            <p><%= item.description %></p>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 DevCy. All rights reserved.</p>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const user_id = "<%= user.id %>";

      socket.on(`notification_${user_id}`, (notif) => {
        console.log("Terhubung");
        const liEl = document.createElement("li");
        const ulEl = document.getElementById("notification");
        liEl.innerHTML = `
          <p>{notif.title}</p>
          <p>${notif.description}</p>
        `;
        ulEl.appendChild(liEl);
      });
    </script>
  </body>
</html>
